.button { background-color: #eee; border: 1px solid #666; box-shadow: 0 3px 3px #000; border-radius: 5px; cursor: pointer; font-size: x-large; padding: 10px; text-align: center; }
#bc { position: relative; margin: 0 auto; }
#test_me { display: none; }